<% if @current_user.is_admin %>
	<div class="btn-group float_btn" role="group">
	  <%= link_to "Manage Users", users_path, class: 'btn btn-xlg btn-danger', style: 'color: #fff' %>
	</div>
	<div class="btn-group float_btn" role="group">
	  <%= link_to "Manage Books", books_path, class: 'btn btn-xlg btn-info', style: 'color: #fff' %>
	</div>
<% end %>
<div class="btn-group float_btn" role="group">
  <%= link_to "Search Books", new_search_path, class: 'btn btn-xlg btn-success', style: 'color: #fff' %>
</div>
<div class="btn-group float_btn" role="group">
  <%= link_to "All Books", books_path, class: 'btn btn-xlg btn-primary', style: 'color: #fff' %>
</div>
<div class="btn-group float_btn" role="group">
	<%= link_to "My checkout history", check_user_history_path(:data => {:user_id => @current_user.id, :book_id => nil}), class: "btn btn-xlg btn-warning", style: "color: #fff"%>
</div>
