<%= form_for @search, html: { class: "pure-form" } do |s| %>
  <div class="field">
    <%= s.label :isbn %><br>
    <%= s.text_field :isbn %>
  </div>
  <div class="field">
    <%= s.label :title %><br>
    <%= s.text_field :title %>
  </div>
  <div class="field">
    <%= s.label :author %><br>
    <%= s.text_field :author %>
  </div><br>
  <div class="actions">
    <%= s.submit "Search", class: 'btn btn-primary' %>
  </div>
<% end %>