    <h1>Search Results</h1>

    <% if @search.search_books.empty? %>
    <blockquote>
      <p class="lead">No Books Found!</p>
    </blockquote><%else%>
    <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Isbn</th>
              <th>Status</th>
              <%if @current_user.is_admin %>
              <th>Checked out by </th>
              <%end%>
              <th colspan="3"></th>
            </tr>
          </thead>
      <% @search.search_books.each do |book| %>

    <tbody>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.description %></td>
              <td><%= book.author %></td>
              <td><%= book.isbn %></td>
              <% if book.is_borrowed %>
              <td><span class="label label-danger">Checked out</span></td>
              <% else %>
              <td><span class="label label-success">Available</span></td>
              <%end%>
              <% if book.is_borrowed && @current_user.is_admin %>
              <%@user = User.find(book.user_id)%>
              <td><%=@user.name%> (<%=@user.email %>)</td>
              <%else%>
              <td></td>
              <%end%>
              <td><%= link_to 'Show', book, :class => "btn btn-primary", :style => "color: #ffffff" %></td>
              <%if @current_user.is_admin? %>
              <td><%= link_to 'Edit', edit_book_path(book), :class => "btn btn-warning", :style => "color: #ffffff" %></td>
              <%if !book.is_borrowed %>
          <td><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "color: #ffffff" %></td>
          <%else%><td></td>
          <%end%>
              <%end%>
              <%if book.is_borrowed %>
              <% if book.user_id == @current_user.id %>
              <td><%= link_to 'Return', return_book_path(:id => book.id), :class => "btn btn-warning", :style => "color: #ffffff"%></td>
              <%else%>
              <% if !book.is_requested %>
              <td><%= link_to 'Request Notification', request_book_path(:id => book.id), :class => "btn btn-warning", :style => "color: #ffffff"%></td>
              <%else%>
              <% if book.is_requested && (book.requested_by == @current_user.id) %>          
              <td><%= link_to 'Cancel Notification', cancel_request_book_path(:id => book.id), :class => "btn btn-warning", :style => "color: #ffffff"%></td>
              <%end%>
              <%end%>
              <%end%>
              <%else%>
              <td><%=link_to 'Check out', borrow_book_path(:id => book.id), :class => "btn btn-success", :style => "color: #ffffff"%></td>
              <%end%>
              <%end%>
            </tr>
          </tbody>
    </table>
    <br/>
   <% end %>
   <%= link_to "Back", new_search_path, :class => "btn btn-warning", :style => "color: #fff" %>